<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-133160807-4"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-133160807-4");
  </script>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/fonts.css" />
  <!-- End stylesheets -->
  <title>{{ .Site.Data.personalize.Name }}</title>
  <!-- <link rel="icon" type="image/png" href="/assets/img/favicon.ico" /> -->
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous"
  />
  <script src="/js/dark.js" defer=""></script>

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, 
    user-scalable=no, maximum-scale=1, minimum-scale=1"
  />

  <!-- Basic Meta-Tags -->
  <meta
    name="description"
    content="A simple open source Blog to get people closer to technology, understand it better and learn ways to stay safer online."
  />
  <meta
    name="keywords"
    content="Technology, Blog, Cybersecurity, Security, Internet"
  />
  <meta name="classification" content="Blog" />

  <meta name="distribution" content="global" />
  <meta name="author" content="Vivek Mishra / Khaleeq Ahmed" />

  <meta name="theme-color" content="#191919" />

  <!-- Favicon -->
  <link
    rel="shortcut icon"
    href="/static/img/favicon-400.png"
    type="image/x-icon"
  />
  <link rel="icon" href="/static/img/favicon-400.png" type="image/x-icon" />

  <meta property="og:url" content="https://techaware.netlify.app/" />
  <meta property="og:image" content="" />
</head>
