<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/style.css" />
  <!-- End stylesheets -->
  <title>{{ .Site.Data.personalize.Name }} — Technology Simplified! ❤️</title>
  <!-- <link rel="icon" type="image/png" href="/assets/img/favicon.ico" /> -->
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous"
  />

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />

  <script src="/js/dark.js" defer=""></script>

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, 
    user-scalable=no, maximum-scale=1, minimum-scale=1"
  />

  <!-- Basic Meta-Tags -->
  <meta
    name="description"
    content="You don't start out writing good stuff! I have started this Blog to write out everything that I feel people need to know. Feel free to talk to me on [Telegram](https://t.me/vvekm)"
  />
  <meta
    name="keywords"
    content="Tech Aware, Blockchain, Web, Development, Cyber, Security, Vivek, Mishra, Blog, Bangalore, Software, Engineer"
  />
  <meta name="classification" content="Blog" />

  <meta name="distribution" content="global" />
  <meta name="author" content="Vivek Mishra" />

  <!-- Favicon -->
  <link
    rel="shortcut icon"
    href="/static/img/favicon-400.ico"
    type="image/x-icon"
  />
  <link rel="icon" href="/static/img/favicon-400.ico" type="image/x-icon" />

  <meta property="og:url" content="https://techaware.netlify.app" />
  <meta property="og:image" content="" />
</head>
